* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
    box-sizing: border-box;
}
#score-table {
    width: 100%;
    height: 6vh;
    max-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: wheat;
}
#flags {
    height: 80%;
    width: 6vmax;
    max-width: 40px;
}
#flags-icon {
    width: 100%;
    height: 100%;
}
#game-community {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 44vh;
    background-color: black;
}
#game-master {
    display: flex;
    width: auto;
    height: 80%;
    background-color: black;
    
}
#game-master-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: black;
}
#game-master-area-bubble {
    
}
#game-master-area-text {
    
}
#game-master-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
#game-master-picture img {
    width: 100%;
    height: 100%;
}
#game-comfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}
#game-comfirm-button {
    width: 150px;
    height: 80%;
    max-height: 45px;
    /* border-color: darkgreen; */
    border: 2px solid darkgreen;
    font-weight: bold;
    
}
#game-field {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
}
#question {
    padding: 3%;
}
#answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* CLASS -START- */
.answer {
/*     display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #000000;
    color: white;
    border-color: white;
    border-radius: 30px;
    width: 40vw;
    height: 5vh;
    min-height: 21px;
    min-width: 200px;
    max-width: 320px;
    border-style: solid;
    margin: 5px;
    padding: 0.5vh;
    overflow: auto;
}
p {}

/* Speech Bubble */

.bubble {
    position: relative;
    background: #fafafa;
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    /* line-height: 100px; */
    box-shadow: 0px 0px 13px 14px rgba(163, 163, 163, 0.8);
    text-align: center;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #fafafa;
    border-width: 13px 0 13px 50px;
    top: 30%;
    right: -50px;
    margin-top: -13px;
}
